@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

$blue-light-1: #04519b;
$blue-light-2: #044687;
$blue-light-3: #033769;
$gray: #ccc;
$white-2: #f4f4f4;
$white: #fff;

@mixin color($value, $content: '') {
  color: $value $content;
}

header {
  background-image: linear-gradient($blue-light-1, $blue-light-2 60%, $blue-light-3);
  color: $white;
  min-height: 100px;
  padding-top: 25px;

  form {
    float: right;
  }

  .logo {
    float: left;
  }
}

.panel-heading {
  @include color($white, !important);
  background-image: linear-gradient($blue-light-1, $blue-light-2 60%, $blue-light-3);
}

.bubble {
  background: $white;
  border: 1px solid $gray;
  border-radius: 10px;
  min-height: 65px;
  padding: 15px;
  position: relative;
  width: 580px;

  &::after {
    border-color: transparent $white;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    content: ' ';
    display: block;
    left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 1;
  }

  &::before {
    border-color: transparent $white;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    content: ' ';
    display: block;
    left: -16px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 0;
  }
}

.post-actions {
  margin: 5px;
}

.comment-form input [type='text'] {
  width: 100%;
}

.comment-form .form-group {
  width: 90%;
}

.comment {
  border: 1px solid $gray;
  border-radius: 5px;
  margin: 5px 0;
  overflow: auto;
  padding: 3px;
  width: 100%;
}

.comment-avatar img {
  margin-right: 5px;
  width: 40px;
}

.friends {
  li {
    display: inline;
    float: left;
    list-style: none;
    padding: 0 5px;
  }

  img {
    width: 55px;
  }
}

.groups img {
  float: left;
  margin-right: 15px;
  width: 80px;
}

.group-item {
  border-bottom: 1px solid $gray;
  margin-bottom: 20px;
  overflow: auto;
  padding-bottom: 10px;
}

.profile {
  ul {
    margin-top: 30px;

    li {
      line-height: 1.9em;
      list-style: none;
    }
  }
}

.photos {
  margin: 0;
  padding: 0;

  li {
    float: left;
    list-style: none;
    margin: 5px;
    width: 23%;
  }

  img {
    width: 100%;
  }
}

footer {
  background: $white-2;
  border-top: 7px solid $blue-light-1;
  color: $blue-light-1;
  font-weight: bold;
  height: 90px;
  margin-top: 30px;
  padding-top: 40px;
  text-align: center;
}

.members {
  .members-row {
    border-bottom: 1px solid $gray;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  img {
    margin-bottom: 5px;
  }
}

@media(min-width: 991px) {
  .members p {
    padding-top: 40px;
  }
}
